.note-public{
  min-height: 100vh;
  position: relative;
  .note-cell{
    border-bottom: 1px solid #d1d5db;
    .select{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .select-item{
        display: flex;
        align-items: center;
        color: #3f45ff;
      }
    }
  }
  .btn{
    position: absolute;
    width: 100%;
    bottom: 1rem;
  }
}